$color-almost-white: #F0F1F1;
$color-white: #FFFFFF;
$color-brown: #5E5322;
$color-yellow: #FAD648;
$color-gray: #737373;
$color-dark-gray: #3C3C3C;
$color-border: #707070;
$color-light-gray: #3C3C3C26;
$color-success: green;
$color-failure: red;
$color-black: #000000;