@import "../settings/breakpoints";

$columns: 12;
$column-base-width: 100% / $columns;

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 0;
  [class*="col-"] {
    min-height: 1px;
    margin-top: 1rem;
    padding: 0 1rem;
  }
  @for $i from 1 through $columns {
    .col-xs-#{$i} {
      width: $column-base-width * $i;
    }
  }
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      @media (min-width: $breakpoint-sm) {
        width: $column-base-width * $i;
      }
    }
  }
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      @media (min-width: $breakpoint-md) {
        width: $column-base-width * $i;
      }
    }
  }
  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      @media (min-width: $breakpoint-lg) {
        width: $column-base-width * $i;
      }
    }
  }
  @for $i from 1 through $columns {
    .col-xl-#{$i} {
      @media (min-width: $breakpoint-xl) {
        width: $column-base-width * $i;
      }
    }
  }
}