
.about-us-section{
  background-color: $color-almost-white;

  .about-us-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .about-us-title{
      text-align: center;
      font-size: 2rem;
      line-height: 3.4375rem;
      letter-spacing: -0.76px;
    }
    .decoration--about-us{
      align-self: center;
    }
    .about-us-text{
      text-align: center;
      font-size: 1.25rem;
      line-height: 2.5em;
      letter-spacing: -0.6px;
      padding-bottom: 2.5rem
    }
    .about-us-signature{
      align-self: flex-end;
      width: 13.0625rem;
      height: 9.25rem;
      background: transparent url('../../assets/Signature.svg') 0 0 no-repeat padding-box;
      margin-bottom: 2rem;
    }
  }
  .about-us-image{
    min-height: 20rem;
    flex-grow: 1;
    background: transparent url('../../assets/People.jpg') no-repeat padding-box;
    margin-top: 0;
    background-position: center;
  }
}

@media (min-width: $breakpoint-sm) {
  .about-us-section{
    .about-us-content {
      .about-us-title{
        font-size: 2.375rem;
      }
      .decoration--about-us{
        padding-bottom: 3.4375rem;
      }
      .about-us-text {
        font-size: 1.875rem;
        line-height: 3.375rem;
      }

      .about-us-image {
        min-height: 30rem;
        background: transparent url('../../assets/People.jpg') no-repeat padding-box;
        margin-top: 0;
        background-position: center;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .about-us-section {
    .about-us-content {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .about-us-section {
    .about-us-image {
      min-height: 30rem;
    }
    .about-us-content {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .about-us-section {
    .about-us-image {
     height: 58.4375rem;
    }
    .about-us-content {
      padding-left: 9.5rem;
      padding-right: 9.5rem;
    }
  }
}