html, body {
  font-family: $font-base;
  background-color: $color-white;
  color: $color-dark-gray;
}

* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1900px;
  padding: 0 1rem;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: $font-base;
  color: $color-dark-gray;
}