
.contact-us-section{
  position: relative;
  height: 64.125rem;

  &:before{
    content: "";
    background-image: url("../../assets/Background-Contact-Form.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: -300%;
    bottom: 0;
    opacity: 0.3;
  }
  .contact-us-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .contact-us-title{
      padding-top: 4rem;
      position: relative;
      text-align: center;
      letter-spacing: -0.76px;
      font-size: 2.375rem;
      line-height: 3.4375rem;
    }
    .decoration--contact-us{
      align-self: center;
      position: relative;
    }
    .contact-us-success{
      color: $color-success;
      text-align: center;
      font-size: 1.125rem;
      font-weight: 600;
      padding-bottom: 0.5rem;
    }
    .contact-us-form{
        align-self: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        .form__field{
          flex-grow: 1;
          padding-bottom: 2.5rem;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          .form__label{
            font-size: 1rem;
            line-height: 2rem;
            border-bottom: 0.75px solid $color-dark-gray;
            .form__input{
              width: 100%;
              border: none;
              background-color: transparent;
              font-size: 1.125rem;
              line-height: 1.5rem;
              padding-bottom: 0;
              font-family: $font-base;
              &::placeholder{
                color: $color-light-gray;
              }
            }
            .message{
              height: 6rem;
              line-height: 1.5rem;
              resize: none;
            }
          }
          .form-failure {
            padding-top: 0.5rem;
            color: $color-failure;
            font-size: 0.75rem;
            border-top: 1px solid $color-failure;
          }
        }


      .btn--submit{
        font-family: $font-base;
        width: 9.375rem;
        height: 3.125rem;
        font-size: 1.125rem;
        text-align: center;
        align-self: flex-end;
        background-color: transparent;
        border: 0.75px solid $color-dark-gray;
        margin-top: 2.75rem;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .contact-us-section {
    &:before {
      left: -40%;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .contact-us-section {
    .contact-us-content {
      .contact-us-title {
        padding-top: 12.5rem;
      }
      .contact-us-form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-left: 5rem;
        padding-right: 5rem;
        .form__field:first-child{
          padding-right: 1rem;
          width: 45%;
        }
        .form__field:nth-child(2){
          padding-left: 1rem;
          width: 45%;
        }
        .form__field:nth-child(3){
          width: 100%;
        }
      }
    }
    &:before {
      left: -25%;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .contact-us-section {
    .contact-us-content {
      .contact-us-form{
        padding-left: 9rem;
        padding-right: 9rem;
      }
    }
    &:before {
      left: 0;
    }
  }
}