
  .second-step-left {
    .second-step-form {
      display: flex;
      flex-direction: column;
      padding-bottom: 9.875rem;

      .second-step-label {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: left;
        position: relative;
        padding: 3rem 1.5rem 19.375rem 0;
        .second-step-select{
          background-color: transparent;
          width: 18.5rem;
          margin-left: 1.625rem;
          padding: 0.5rem 8.75rem 0.5rem 1.125rem;
          appearance: none;

        }
      }

    }
  }


input[type="radio"]{
  padding-right: 1.5rem;
}
