
.number-step{
  font-size: 1.5rem;
  line-height: 1.6875rem;
  padding-top: 2.25rem;
  padding-bottom: 4.375rem;
}

.btn-step{
  font-size: 1.5rem;
  line-height: 2rem;
  width: 11.25rem;
  height: 5rem;
  background-color: transparent;
  transition-duration: 0.3s;
  border: 0.75px solid $color-dark-gray;
  margin-bottom: 3.125rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.step-form-title{
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 600;
}