
.third-step-form{
  color: $color-black;
  .second-step-select{
    background-color: transparent;
    width: 18.75rem;
    padding: 0.5rem 8.75rem 0.5rem 1.125rem;
    margin-top: 1.25rem;
    margin-bottom: 3.125rem;
  }

  .third-step-checkboxes{
    padding-top: 1.25rem;
    padding-bottom: 2.375rem;
    display: flex;
    flex-wrap: wrap;
    .third-step-label{
      font-size: 1.5rem;
      font-width: 300;
      line-height: 2rem;
      margin: 0.75rem 0.75rem 0.75rem 0;
      position: relative;
      border: 0.75px solid $color-dark-gray;
      padding: 0.75rem 1.625rem;

      .third-step-input{
        appearance: none;
      }
    }
    .active-checked{
      background-color: $color-yellow;
    }
  }

  .third-step-input-text{
    background-color: transparent;
    width: 35.625rem;
    height: 2.5rem;
    border: 0.75px solid $color-dark-gray;
    margin-top: 1.25rem;
    margin-bottom: 7.5625rem;
  }
}