
  .second-step-left {
    .second-step-form {
      display: flex;
      flex-direction: column;
      padding-bottom: 9.875rem;

      .second-step-label {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: left;
        position: relative;
        padding: 3rem 1.5rem 19.375rem 1.5rem;
      }

    }
  }


input[type="radio"]{
  padding-right: 1.5rem;
}
