
  .second-step-left {
    color: $color-black;
    .second-step-form {
      display: flex;
      flex-direction: column;
      padding-bottom: 9.875rem;

      .second-step-label {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: left;
        font-weight: 300;
        position: relative;
        padding: 3rem 1.5rem 19.375rem 0;
        display: flex;
        .second-step-label-title{
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
        .select-heading{
          display: inline-block;
          width: 18.5rem;
          margin-left: 1.5rem;
          margin-right: 0;
          .select-title {
            border: 0.75px solid $color-dark-gray;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            display: flex;
            justify-content: space-between;
          }
            .select-title--title {
              width: 50%;
              &:before, &:after {
                content: "mmn";
                color: transparent;
                font-size: 0.35rem;
                width: 1rem;
                height: 1rem;
                border-top: 0.5px solid $color-black;
                border-left: 1rem;
              }
            }
          .select-down-arrow{
            content: url("../../assets/Icon-Arrow-Down.svg");
          }
          .select-up-arrow{
            content: url("../../assets/Icon-Arrow-Up.svg");
          }
        }
      }
    }
  }


input[type="radio"]{
  padding-right: 1.5rem;
}
