

.help-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .help__title{
    text-align: center;
    font-size: 2.375rem;
    line-height: 3.4375rem;
    letter-spacing: -0.76px;
    padding-top: 4.375rem;
  }

  .decoration--who-we-help{
    align-self: center;
  }

  .help__institutions{
    align-self: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;

    .btn-institution{
      flex-grow: 1;
      width: 13rem;
      height: 4.9375rem;
      font-size: 1.5rem;
      line-height: 2.0626rem;
      border: none;
      background-color: transparent;
      margin: 0.5rem;
      &:hover, &:active, &:focus{
        border: 0.75px solid $color-dark-gray;
        cursor: pointer;
      }

    }
  }
  .help__institutions-info{
    text-align: center;
    font-size: 1.375rem;
    line-height: 1.875rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .display-institutions{
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .institution{
      display: flex;
      flex-direction: column;
      border-bottom: 0.75px solid $color-dark-gray;

      .institution-data{
        flex-grow: 1;
        padding-top: 2rem;
        .institution--name{
          font-size: 1.625rem;
          line-height: 1.9375rem;
          font-family: $font-alt;
          font-weight: 300;
          text-align: left;
        }
        .institution--purpose{
          font-size: 1.125rem;
          line-height: 1.375rem;
          font-family: $font-alt;
          font-weight: 300;
          font-style: italic;
          text-align: left;
        }
      }
      .institution--needs{
        flex-grow: 1;
        height: 5rem;
        display: table;
        .institution--needs--paragraph{
          font-size: 1.125rem;
          line-height: 1.375rem;
          font-family: $font-alt;
          font-weight: 300;
          text-align: right;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
  .help__pagination{
    .btn-pagination{
      width: 2.5rem;
      height: 3.125rem;
      font-size: 1.125rem;
      line-height: 1.5rem;
      &:hover, &:active, &:focus {
        border: 0.75px solid $color-dark-gray;
      }
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .help-section{
    .help__institutions-info{
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .help-section{
    .help__institutions{
      flex-direction: row;
      padding-bottom: 2rem;
    }
    .help__institutions-info{
      padding-left: 12rem;
      padding-right: 12rem;
    }

    .display-institutions{
      padding-top: 5rem;
      padding-left: 3rem;
      padding-right: 3rem;

      .institution{
        flex-direction: row;
        .institution-data{
          padding-top: 0;
          height: 7.1875rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .institution--needs{
          height: 7.1875rem;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .help-section{
    .help__institutions{
      padding-bottom: 3.5rem;
    }
    .help__institutions-info{
      padding-left: 23rem;
      padding-right: 23rem;
    }
    .display-institutions{
      padding-left: 10rem;
      padding-right: 10rem;

      .institution{
        .institution-data{
          .institution--name{
            text-align: left;
          }
          .institution--purpose{
            text-align: left;
          }
        }
        .institution--needs{
          .institution--needs--paragraph {
            text-align: right;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .help-section{
    .help__institutions{
      padding-bottom: 4.375rem;
    }
    .help__institutions-info{
      padding-left: 39rem;
      padding-right: 39rem;
    }
    .display-institutions {
      padding-top: 5rem;
      padding-left: 17rem;
      padding-right: 17rem;
    }
  }
}